body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}


ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    font-weight: bolder;
    font-size: 1.2em;
    margin-top: 3%;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    max-width: 500px;
    width: 100%;
    text-align:center;
    position: relative;
    margin: 4% auto auto auto;
}

.game-info {
    margin-left: 20px;
}

.clear {
    clear:both;
}

@media (max-width: 430px) {
    .col-xsl-12 {
        width: 100%;
    }
}